<div class="login container">
  <form (submit)="auth()" name="account" [ngBusy]="busy">

    <div class="form-group" *ngIf="showSignup">
      <label for="username">Username</label>
      <input
        type              = "email"
        class             = "form-control"
        id                = "username"
        [(ngModel)]       = "username"
        aria-describedby  = "usernameHelp"
        name              = "username"
        placeholder       = "Enter your username">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type              = "email"
        class             = "form-control"
        id                = "email"
        [(ngModel)]       = "email"
        [ngClass]         = "{'border-danger': !email}"
        aria-describedby  = "emailHelp"
        name              = "email"
        placeholder       = "Enter your login email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type              = "password"
        class             = "form-control"
        [(ngModel)]       = "password"
        [ngClass]         = "{'border-danger': !password}"
        name              = "password"
        placeholder       = "Password">
    </div>

    <button type="submit" class="btn btn-success">{{showSignup ? 'Sign up' : 'Log in'}}</button>

    <a href="javascript:void(0)" (click)="showSignup = showSignup ? false : true" class="ml-2">{{!showSignup ? 'Sign up' : 'Log in'}}</a>
  </form>
</div>
