
<div class="flux-container title w-100">
  <h3>Logged user info</h3>
  <hr><br>
</div>

<div class="flux-container profile">
  <div class="row">
    <div class="col-6">Id</div>
    <div class="col-6">{{app.session.id}}</div>
  </div>
  <div class="row">
    <div class="col-6">Name</div>
    <div class="col-6">{{app.session.name}}</div>
  </div>
  <div class="row">
    <div class="col-6">Email</div>
    <div class="col-6">{{app.session.email}}</div>
  </div>
  <div class="row">
    <div class="col-6">Balance</div>
    <div class="col-6">{{app.session.balance}}</div>
  </div>
</div>
